@use 'base/variables' as v;
.der_info {
    max-width: 100%;
}
.der_info-ul {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.li-der-princ {
    margin-bottom: 2.5rem;
    ul {
        padding: 1rem 5rem;
    }
}
@media (min-width: 768px){
    .der_info-ul{
        text-align: center;
    }
}
@media (min-width: 992px){
    .der_info-ul{
        text-align: left;
    }
    .li-der-princ {
        padding-left: 9rem;
        ul{
            padding: 1rem 2rem;
        }
    }
}
.li-der-princ:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.der_i_habilidades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    text-transform: uppercase;
    text-align: left;
}
.der_i_habilidades-li{
    padding: .5rem 1rem;
    border-top: .4rem groove v.$negro;
    border-left: .1rem solid v.$negro;
    box-shadow: 1rem 1.2rem v.$azul;
    width: 15rem;
}
@media (min-width: 768px){
    .der_i_habilidades{
        grid-template-columns: repeat(3, 1fr);
    }
}