@use 'base/variables' as v;
.izq_info {
    border: 1rem solid v.$azul;
    box-shadow: 0.3rem 0  0.3rem 0 v.$gris;
    .item_info {
        text-align: center;
    }
    h3 {
        margin: 0;
        padding: 1.4rem;
        text-transform: uppercase;
        font-weight: 400;

        color: v.$blanco;
        background-color: v.$negro;
    }
    .izq_info-aside {
        padding: 0 2rem;
    }
}
.li-izq-princ {
    margin-bottom: 3rem;
    border-top: .1rem solid v.$gris;
    border-left: .1rem solid v.$gris;
    box-shadow: .5rem .2rem .5rem .2rem v.$gris;
}
.li-izq-princ:last-child {
    padding-bottom: 2.4rem;
}
.izq_info_contacto{
    padding: 0 1rem;
    margin-top: 2rem;
}
.izq_info_contacto-item {
    display: block;
    text-align: center;
    border-bottom: .2rem solid v.$gris;
    a {
        padding: 0;
    }
    p:last-child {
        padding-bottom: 2rem;
    }
    &:last-child{
        border-bottom: none;
    }
}
@media (min-width:992px){
    .izq_info_contacto-item {
        display: flex;
        justify-content: flex-start;
    }
}
.izq_info_contacto-iconos {
    margin: 1rem;
}
.izq_info_sobremi{
    text-align: center;
    p {
        padding: 2rem;
    }
}
.izq_info_idiomas-grid{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.izq_info_idiomas-iconos{
    width: 7rem;
    .icono {
        width: 10rem;
        height: 5rem;
    }
}
@media (min-width: 768px){
    .izq_info_idiomas-grid{
        padding: 3rem;
    }
}
@media (min-width:992px) {
    .izq_info_idiomas-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 0 0 5rem;
    }
    .izq_info_idiomas-iconos{
        margin: 2rem;
    }
}
.izq_info_social-iconos{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    & a:hover{
        background-color: v.$negro;
        color: v.$blanco;
    }
}