@use 'base/variables' as v;
.contenedor_princ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
        list-style-type: none;
    }
}
@media (min-width: 768px){
    .contenedor_princ{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}
.cont_princ {
    border-top: 0.6rem v.$azul groove;
    border-right: .18rem solid rgba(0, 0, 0, 0.26);
    border-left: .18rem solid rgba(0, 0, 0, 0.26);
    border-bottom: .18rem solid rgba(0, 0, 0, 0.26);
    margin-bottom: 1rem;
}
.item_info {
    margin : 3rem 0;
    text-transform: uppercase;
}